{% extends "base.html" %} 

{% block content %}
    <div class="g-max-width-450 g-mt-100 u-shadow-v7 mx-auto login-box" id="login">
        <div class="card g-brd-none">
            <div class="card-header g-bg-medium g-color-white text-center">
                <a class="my-2 d-inline-block" href="/">
                    <img class="d-block g-height-48" src="#" alt="logo">
                </a>
                <h3 class="pt-1 g-color-grey-light-e g-fs-25">登录</h3>
            </div>
            <div class="card-body">
                <form class="pt-3" action="/login" method="POST">
                    <div class="form-group">
                        <div class="input-group g-brd-around-solid g-brd-around-color-grey-light-e g-rounded-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text g-bg-transparent g-brd-none g-width-36">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control form-control-lg g-bg-transparent g-brd-none" name="nickname" placeholder="账户">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group g-brd-around-solid g-brd-around-color-grey-light-e g-rounded-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text g-bg-transparent g-brd-none g-width-36">
                                    <i class="fa fa-key"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control form-control-lg g-bg-transparent g-brd-none" name="password" placeholder="密码">
                        </div>
                    </div>

                    <div class="form-group d-flex g-pt-7 justify-content-between align-items-center g-select-none">
                        <div class="custom-control custom-checkbox mb-0">
                            <input type="checkbox" class="custom-control-input" checked name="remember" id="remember">
                            <label class="custom-control-label text-muted" for="remember">记住我</label>
                        </div>
                        <button class="btn btn-outline-success g-px-25 g-py-5 g-cursor-pointer" type="submit">登录</button>
                    </div>
                </form>
                <!--  <div class="alert alert-warning input-alert" id="alert" style="display: {{ 'block' if msg else 'none' }}" >{{ msg }}</div> -->
                <div class="alert alert-warning input-alert" id="alert" style="display: none" ></div>
            </div>
            <div class="card-footer d-flex justify-content-center g-bg-transparent">
                <a class="pr-3 g-fs-13 g-color-grey-dark-5" href=""><i class="fa fa-lock g-pr-3"></i>忘记密码?</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
    <script>
        let loginForm = document.forms[0]
        let nameField = loginForm.elements['nickname']
        let pwdField = loginForm.elements['password']
        let alert = document.getElementById('alert')
        loginForm.addEventListener('submit', function (event) {
            let name = nameField.value.trim()
            let password = pwdField.value.trim()
            if (!name || !password) {
                alert.style.display = 'block'
                alert.innerText = '请输入用户名或密码'
                event.preventDefault()
            }
        })
        nameField.addEventListener('focusin', function () {
            alert.style.display = 'none'
        })
        pwdField.addEventListener('focusin', function () {
            alert.style.display = 'none'
        })
    </script>
{% endblock %}
