@charset "UTF-8";

/*------------------------------------
  Background
------------------------------------*/

/* Background Default */
.g-bg-default { background-color: #fff; }

/* Background Transparent */
@include add-media-query-for('.g-bg-transparent') { background-color: transparent !important; }

/* Background Color */
// link: 链接平常的状态；visited: 被访问过后；hover: 鼠标悬浮之上；active: 被按下
// TODO: 几种状态定义的顺序好像应该是LVHA, 即link, visited, hover, active，若不按照此顺序，某些样式会被覆盖（待验证）
@each $name, $color in $bg-colors {
  .g-bg-#{$name}--focus:focus,
  //.g-bg-#{$name}--active:active,
  .g-bg-#{$name}--hover:hover,
  .g-bg-#{$name} {
    background-color: $color !important;
  }

  // opacity
  //@for $i from 1 through 9 {
  //  .g-bg-#{$name}-opacity-#{$i}--focus:focus,
  //  //.g-bg-#{$name}-opacity-#{$i}--active:active,
  //  .g-bg-#{$name}-opacity-#{$i}--hover:hover,
  //  .g-bg-#{$name}-opacity-#{$i} {
  //    background-color: rgba($color, $i*0.1) !important;
  //  }
  //}
}

/* Background Cover */
.g-bg-image-hero {
  background-size: cover;
  background: no-repeat center;
}

/* Background Position */
.g-bg-pos-center { background-position: center !important; }
.g-bg-pos-left-center { background-position: left center !important; }
.g-bg-pos-top-center { background-position: top center !important; }
.g-bg-pos-bottom-center { background-position: bottom center !important; }

/* Background Repeat */
.g-bg-repeat { background-repeat: repeat !important; }
.g-bg-no-repeat { background-repeat: no-repeat !important; }

/* Background Size */
.g-bg-size-cover { background-size: cover !important; }
.g-bg-size-100x { background-size: 100% !important; }
