@charset "UTF-8";

// 生成浏览器前缀
@mixin vendor-prefix($property, $value) {
    @each $prefix in (-webkit-, -moz-, -ms-, -o-, '') {
        #{$prefix}#{$property}: $value;
    }
}

// add media query for a class
@mixin add-media-query-for($selectors, $breakpoints: map_keys($grid-breakpoints)) {
  @each $breakpoint in $breakpoints {
    @include media-breakpoint-up($breakpoint) {
      $suffix: breakpoint-suffix($breakpoint);
      @if type-of($selectors) != 'list' {
        #{$selectors}#{$suffix} {
          @content
        }
      } @else {
        // 如果选择器为多个，则将其用逗号连接起来
        $concat: ();
        @each $el in $selectors { $concat: append($concat, $el + $suffix + ','); }
        #{join($concat)} {
          @content
        }
      }
    }
  }
}

// 绝对定位
@mixin abs-pos($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

// 生成绝对定位的垂直/水平居中的样式，如下：
// position: absolute; top: 50%; left: 50%; transform: translate(-50%);
// TODO: find a better place or remove this mixin
@mixin gen-abs-centered($x: 50%, $y: 50%) {
  $v: null;
  position: absolute !important;
  @if $x != null and $y != null {
    $v: translate(-$x, -$y);
    top: $x !important;
    left: $y !important;
  } @else if $x != null and $y == null {
    $v: translateX(-$x);
    left: $x !important;
  } @else if $x == null and $y != null {
    $v: translateY(-$y);
    top: $y !important;
  } @else {
    @error 'Both $x and $y are null!'
  }
  @include vendor-prefix(transform, $v);
}


