@charset "UTF-8";

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Color System
$base-colors: (
  'white': #fff,
  'black': #000,
  'primary': #03a87c,
) !default;

$grey-colors: (
  grey-dark-1: #111,
  grey-dark-3: #333,
  grey-dark-5: #555,
  grey-dark-7: #777,
  grey-dark-9: #999,
  grey-light-b: #bbb,
  grey-light-c: #ccc,
  grey-light-d: #ddd,
  grey-light-e: #eee,
  grey-light-f7: #f7f7f7,
) !default;

$custom-colors: (
  'beige': #e5e1de,
  'green': #72c02c,
  'blue': #3398dc,
  'light-blue': #edf2f8,
  'dark-blue': #009,
  'indigo': #4263a3,
  'red': #f00,
  'light-red': #e64b3b,
  'dark-red': #a10f2b,
  'purple': #9a69cb,
  'dark-purple': #6639b6,
  'pink': #e81c62,
  'orange': #e57d20,
  'deep-orange': #fe541e,
  'yellow': #ebc71d,
  'aqua': #29d6e6,
  'cyan': #00bed6,
  'teal': #18ba9b,
  'brown': #9c8061,
) !default;

$vendor-colors: (
  'facebook': #3b5998,
  'twitter': #00acee,
  'skype': #00aff0,
  'pinterest': #c8232c,
  'vine': #00bf8f,
  'youtube': #c4302b,
  'g-plus': #dd4b39,
  'dribble': #ea4c89,
  'vk': #2b587a,
  'linkedin': #0e76a8,
  'instagram': #3f729b,
  'medium': #03a87c,
) !default;


$colors: () !default;
$colors: map_merge(map_merge($base-colors, $grey-colors), map_merge($custom-colors, $vendor-colors));


// Body Color
$body-bg:               g-color('white') !default;
$body-color:            g-color('grey-dark-3') !default;

// Selection Color
$selection-color:       g-color('white') !default;
$selection-bg-color:    g-color('primary') !default;

// Links Color
$link-color:            g-color('primary') !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Fonts
$font-family:           "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
$font-code:             Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-size-base:        1rem !default; // browser default: 1rem == 16px
$font-size-lg:          ($font-size-base * 1.25) !default;
$font-size-sm:          ($font-size-base * .875) !default;

$font-weight-light:     300 !default;
$font-weight-normal:    400 !default;
$font-weight-bold:      700 !default;

$line-height-base:      1.5 !default;

// Transition
$transition-base:       all .2s ease-in-out !default;
$transition-fade:       opacity .15s linear !default;
$transition-collapse:   height .35s ease !default;