@charset "UTF-8";

/*------------------------------------
  Positions
------------------------------------*/

@each $breakpoint in $breakpoints {
  @include media-breakpoint-up($breakpoint) {
    $suffix: breakpoint-suffix($breakpoint);
    @each $name, $value in (rel: relative, abs: absolute, stc: static, fix: fixed) {
      .g-pos-#{$name}#{$suffix} {
        position: $value !important;
      }
    }
  }
}

/*------------------------------------
  List Style: None
------------------------------------*/

.g-list-style-none { list-style-type: none; }

/*------------------------------------
  Display
------------------------------------*/

@each $breakpoint in $breakpoints {
  @include media-breakpoint-up($breakpoint) {
    $suffix: breakpoint-suffix($breakpoint);
    @each $ds in $display-styles {
      .g-d-#{$ds}#{$suffix} { display: $ds !important; }
    }
  }
}

/*------------------------------------
  Vertical Align
------------------------------------*/

@each $direction in (baseline, top, middle, bottom, text-bottom, text-top) {
  .g-valign-#{$direction} { vertical-align: $direction !important; }
}

/*------------------------------------
  User Select: none
------------------------------------*/

.g-select-none { user-select: none !important; }

/*------------------------------------
  Cursor
------------------------------------*/

@each $style in $cursor-styles {
  .g-cursor-#{$style} { cursor: $style; }
}

/*------------------------------------
  Float
------------------------------------*/

@each $direction in (none, left, right) {
  .g-float-#{$direction} { float: $direction !important; }
}

/*------------------------------------
  Clear
------------------------------------*/

.g-clear { clear: both !important; }
.g-clear-left { clear: left !important; }
.g-clear-right { clear: right !important; }

/*------------------------------------
  Overflow
------------------------------------*/

// TODO: 弄清楚scroll与auto的差别
@each $direction in (overflow, overflow-x, overflow-y) {
  @each $style in (visible, hidden, scroll, auto) {
    .g-#{$direction}-#{$style} { #{$direction}: $style !important; }
  }
}

/*------------------------------------
  Z-Index
------------------------------------*/

.g-zindex-auto { z-index: auto; }
.g-zindex-minus-1 { z-index: -1; }

@each $idx in $z-indexes {
  .g-zindex-#{$idx} { z-index: $idx; }
}

/*------------------------------------
  Box Shadow: none
------------------------------------*/

.g-shadow-none { box-shadow: none !important; }