@charset "UTF-8";

/*------------------------------------
  Text
------------------------------------*/

/* Font Size */
.g-fs-default { font-size: 1rem !important; }

@each $breakpoint in $breakpoints {
  @include media-breakpoint-up($breakpoint) {
    $suffix: breakpoint-suffix($breakpoint);
    @for $value from $min-font-size through $max-font-size {
      .g-fs-#{$value}#{$suffix} {
        font-size: g-add-unit($value) !important;
      }
    }
  }
}

/* Font Weight */
.g-fw-default { font-weight: normal !important; }

@each $breakpoint in $breakpoints {
  @include media-breakpoint-up($breakpoint) {
    $suffix: breakpoint-suffix($breakpoint);
    @each $value in $font-weights {
      .g-fw-#{$value}#{$suffix} {
        font-weight: $value !important;
      }
    }
  }
}

/* Font Color */
@each $breakpoint in $breakpoints {
  @include media-breakpoint-up($breakpoint) {
    $suffix: breakpoint-suffix($breakpoint);
    @each $key, $value in $font-colors {
      .g-color-#{$key}#{$suffix} {
        color: $value;
      }
    }
  }
}

/* Text Align */
@each $breakpoint in $breakpoints {
  @include media-breakpoint-up($breakpoint) {
    $suffix: breakpoint-suffix($breakpoint);
    @each $value in (left, right, center, justify) {
      .g-text-#{$value}#{$suffix} {
        text-align: $value;
      }
    }
  }
}

/* Text Transform */
.g-text-transform-none { text-transform: none !important; }

/* Text Decoration */
.g-text-underline { text-decoration: underline; }
.g-text-strike { text-decoration: line-through; }
.g-text-underline-none--hover {
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

/* Letter Spacing */
@each $value in $letter-spacings {
  .g-letter-spacing-#{$value} {
    letter-spacing: g-add-unit($value);
  }
}

/* Line Height */
@each $value in $line-heights {
  .g-lh-#{g-str-replace($value, '.', '_')} {
    line-height: $value !important;
  }
}

/* Font Style */
.g-font-style-normal { font-style: normal; }
.g-font-style-italic { font-style: italic; }

/* Word Wrap */
.g-text-break-word { word-wrap: break-word; }

