<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit" />
    <meta name="Author" content="Cymoo">
    <link rel="shortcut icon" href="{{ static('img/favicon.ico') }}" type="image/x-icon">
{#    <link rel="stylesheet" href="{{ static('vendors/bootstrap/css/bootstrap.min.css') }}">#}
{#    <link rel="stylesheet" href="{{ static('vendors/font-awesome/css/font-awesome.min.css') }}">#}
{#    <link rel="stylesheet" href="{{ static('vendors/animate/css/animate.min.css') }}">#}
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{{ static('css/style.css') }}">
    {% block header_js %}{% endblock %}
    <title>{{ title  }}</title>
</head>
<body>
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
{#    <script src="{{ static('vendors/jquery/js/jquery.min.js') }}"></script>#}
{#    <script src="{{ static('vendors/vue.js') }}"></script>#}
{#    <script src="{{ static('vendors/bootstrap/js/bootstrap.min.js') }}"></script>#}
{#    <script src="{{ static('vendors/axios/js/axios.min.js') }}"></script>#}
    <script src="{{ static('js/vendors.chunk.js') }}"></script>
    {% block footer_js %}{% endblock %}
</body>
</html>
