@charset "UTF-8";

/*------------------------------------
  Box Shadow
  Usage: offset-x | offset-y | blur-radius | spread-radius | color
  MDN tutorial: https://developer.mozilla.org/zh-CN/docs/Web/CSS/box-shadow
  MDN box-shadow generator: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Background_and_Borders/Box-shadow_generator
------------------------------------*/

/* Simple Shadows */
.u-shadow-v1 {
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
.u-shadow-v2 {
  box-shadow: 0 0 5px #ddd;
}
.u-shadow-v3 {
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, .2);
}
.u-shadow-v7 {
    box-shadow: 0 -13px 75px 0 rgba(0, 0, 0, 0.16), 0 -12px 75px 0 rgba(0, 0, 0, 0.12);
}

/* Complex Shadows */
// TODO: figure out the details of the shadows
.u-shadow-v4,
.u-shadow-v5,
.u-shadow-v6 {
  position: relative;
}

.u-shadow-v4::after,
.u-shadow-v4::before,
.u-shadow-v5::before,
.u-shadow-v6::after {
  content: "";
  position: absolute;
  top: 80%;
  left: 5px;
  bottom: 15px;
  width: 50%;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.u-shadow-v4::after,
.u-shadow-v4::before,
.u-shadow-v5::before,
.u-shadow-v6::after {
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
  @include vendor-prefix('transform', rotate(-3deg))
}

.u-shadow-v4::after,
.u-shadow-v6::after {
  left: auto;
  right: 5px;
  @include vendor-prefix('transform', rotate(3deg))
}

